
.emphasized {
	font-style: italic;
	font-style: bold;
}

#box {
	border-style: groove;
	border-color: #000;
	background-color: #C054FF;
	font-family: Rockwell;
	color:#FFF;
	text-align: center;


}

#intro {
	font-family: Rockwell;
	text-align: center;
}

#appbox {
	border-style: groove;
}

#page {
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #ded5e8;
}

form {
	font-family: Rockwell;
	font-size: 20px;
}