.emphasized {
	font-style: italic;
	font-style: bold;
}

#box {
	border-style: groove;
	border-color: #000;
	background-color: #C054FF;
	font-family: Rockwell;
	color:#FFF;
	text-align: center;

}

#data {
	font-size: 20px;
	font-family: Rockwell;
}

#intro {
	font-size: 20px;
	font-family: Rockwell;
	text-align: center;

}